* {
	font-family: 'Avenir', sans-serif;
	box-sizing: border-box;
	font-size: 20px;
}

body {
	margin-top: 55px;
}

nav {
	width: 100%;
	background-color: #f2f2f2;
	height: 55px;
	position: fixed;
	top: 0;
	left: 0;
}	

.logo {
	position: absolute;
	top: 15px;
	left: 20px;
	color: black;
}


.navigation {
	position: absolute;
	right: 30px;
	top: 15px;
	display: inline-block;
}

.navmenu {
	margin-right: 15px;
}


main {
	position: relative;
	top: 50px;
	left: 60px;
	width: 50%;

}


form {
	position: absolute;
	display: block;
	top: 10px;
	left: 10px;
}

input {
	display: block;
	position: relative;
	color: grey;
	border-radius: 5%;
	border: 1px solid #DDDDDD;
	width: 500px;
	height: 30px
}

.search-button {
	width: 30px;
	height: 30px;
	border-radius: 10%;
	top:-30px;
	left: 505px;
}

.navcontainer {
	position: absolute;
	top: 110px;
	left: 10px;
	border: 1px solid #DDDDDD;
	border-radius: 5%;
}

.navbutton {
	text-decoration: none;
	display: inline-block;
	font-size: 0;
	color: black;
	padding: 3px 15px;
	font-size: 16px;
}

span.navbutton {
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}

a {
	text-decoration: none
}

a:hover {
    text-decoration: underline;
}

div.jobselection {
	position: absolute;
	top: 170px;
	left: 10px;
}

.jobs, location {
	color: grey;
	padding: -5px 5px;
}

.jobname {
	color: blue;
	font-weight: bold;
}







